/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141414;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Netflix rows */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}

.netflix-row {
  overflow: visible !important;
}
